<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>February 4th</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>8:30 am</td><td>Instructors available for questions</td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00 am</td>        <!-- time    -->
        <td>Data Organization in Spreadsheets</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:30 am</td>        <!-- time    -->
        <td>Data Cleaning with OpenRefine</td>        <!-- content -->
      </tr>
      <tr>
        <td>12:00 pm</td><td>END</td>
    </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>February 11th</h3>
    <table class="table table-striped">
                 <!-- row 1   -->
       <tr><td>8:30 am</td>
        <td>Instructors are available for questions</td>
      </tr>
      <tr>
        <td>9:00 am</td>        <!-- time    -->
        <td>Introduction to R</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>12:00 pm</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>
    
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>February 18th</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>8:30 am</td><td>Instructors are available for questions</td>
      </tr>
      <tr>
        <td>9:00 am</td>        <!-- time    -->
        <td>Data analysis and visualization with R</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>12:00 am</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
       <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
  </div>

